body {
    background: #fafafa;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    max-height: 100vh;
}

.shadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 0px 2px 4px rgba(0, 0, 0, 0.6));
    filter: drop-shadow( 0px 2px 4px rgba(0, 0, 0, 0.6));
}

.text-shadow {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.box-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
}

.hero {
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: -webkit-linear-gradient(-45deg, rgba(237, 106, 106, 1) 0%, rgba(199, 48, 48, 0.95) 40%, rgba(255, 70, 70, 0.7) 100%), url(/assets/hero-bg.jpg);
    background-image: linear-gradient(135deg, rgba(237, 106, 106, 1) 0%, rgba(199, 48, 48, 0.95) 40%, rgba(255, 70, 70, 0.7) 100%), url(/assets/hero-bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover;
    width: 100%;
    height: 522px;
    min-height: 100%;
    -webkit-clip-path: polygon(0px 375px, 401px 522px, 1400px 400px, 1400px 0px, 0px 0px);
    clip-path: url("#clipPolygon");
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 569px;
    width: 100%;
    background: red;
    width: 50%;
    height: 569px;
    min-height: 569px;
    /*Chrome,Safari*/
    -webkit-clip-path: polygon(648px 281px, 614px 139px, 0px 0px, 315px 193px, 436px 306px);
    /*Firefox*/
    clip-path: url("#clipPolygon2");
}

.footer-bg {
    /* background-image: -webkit-linear-gradient(-45deg, rgba(237, 106, 106, 1) 0%, rgba(199, 48, 48, 0.95) 40%, rgba(255, 70, 70, 0.7) 100%);
    background-image: linear-gradient(135deg, rgba(237, 106, 106, 1) 0%, rgba(199, 48, 48, 0.95) 40%, rgba(255, 70, 70, 0.7) 100%); */
}


/* Animations */

@keyframes showCursor {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    from,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes design-handwritten {
    100% {
        stroke-dashoffset: 0;
    }
}

#d_path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 8s linear forwards;
}

#e_path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 12s linear forwards 0.7s;
}

#s_path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 4.5s ease-in-out forwards 1.4s;
}

#i_path1 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 3s ease-in forwards 2.1s;
}

#i_path2 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 5s ease-in forwards 2.5s;
}

#g_path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 3.5s ease-in forwards 3s;
}

#n_path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 3.5s ease-in-out forwards 3.75s;
}

#amp_path1 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 5s ease-in forwards 4.5s;
}

#amp_path2 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 2px;
    animation: design-handwritten 5s ease-in forwards 5.5s;
}


/* iPad */

@media (max-width: 768px) {}


/* Nexus 5X / Nexus 6P / iPhone 6+ */

@media (max-width: 414px) {
    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    img.logo {
        width: 130px;
        height: 36px;
        position: absolute;
        top: 20px;
        left: 5%;
        z-index: 2;
    }
    .open-nav img {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 20px;
        right: 5%;
        z-index: 2;
    }
    .collapsed-nav {
        margin: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0%;
        background: #333;
        opacity: 0.99;
        overflow-x: hidden;
        text-align: right;
        font-size: 20px;
        transition: 0.25s ease-in-out;
    }
    .collapsed-nav a {
        display: inline-block;
        width: 100%;
        color: #fafafa;
        text-decoration: none;
        padding-top: 20px;
        font-weight: 300;
    }
    a.close-nav-btn {
        color: #fafafa;
        font-size: 50px;
        padding-top: 7px;
    }
    .hero {
        width: 100%;
        position: absolute;
        top: 0%;
        left: -140%;
        /* right: -160%; */
        background-size: cover;
        background-position: 20em 0em;
        min-width: 1400px;
        min-height: 100%;
        -webkit-clip-path: polygon(0px 375px, 401px 522px, 1400px 400px, 1400px 0px, 0px 0px);
        clip-path: url("#clipPolygon");
        z-index: 0;
    }
    #design-hero-text {
        width: 300px;
        height: auto;
        position: absolute;
        top: 25%;
        left: 56%;
        transform: translate(-50%, -50%);
    }
    #develop-hero-text {
        color: #fafafa;
        font-family: 'Source Code Pro', monospace;
        font-weight: 300;
        font-size: 65px;
        position: absolute;
        top: 40%;
        left: 57%;
        transform: translate(-50%, -50%);
    }
    .typed-cursor {
        opacity: 1;
        animation: showCursor 6.6s, blink 1.0s infinite 6.5s;
        font-size: 55px;
        font-family: 'Source Code Pro', monospace;
        color: #fafafa;
    }
    .scroll-down-btn {
        z-index: 2;
        position: absolute;
        top: 475px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        padding: 18px 18px;
        border-radius: 100px;
    }
    /* Content Area */
    .content-area {
        width: 320;
        position: absolute;
        top: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        padding: 0 40px;
        font-weight: 300;
    }
    .content-area h5 {
        font-size: 16px;
        font-weight: 400;
        margin: 10px 0 25px 0;
    }
    .content-area p {
        color: #555;
    }
    .design-content img {
        margin-top: 25px;
    }
    h5.design-content-title {
        font-family: 'Kaushan Script', cursive;
        font-size: 18px;
    }
    .develop-content img {
        margin-top: 80px;
    }
    /* Footer */
    .footer {
        position: absolute;
        top: 200%;
        left: 0%;
        height: 675px;
        width: 100%;
        background-image: -webkit-linear-gradient(-45deg, rgba(237, 106, 106, 1) 0%, rgba(199, 48, 48, 0.95) 40%, rgba(255, 70, 70, 0.7) 100%);
        background-image: linear-gradient(135deg, rgba(237, 106, 106, 1) 0%, rgba(199, 48, 48, 0.95) 40%, rgba(255, 70, 70, 0.7) 100%);
        min-height: 569px;
        /*Chrome,Safari*/
        -webkit-clip-path: polygon(648px 281px, 614px 139px, 0px 0px, 315px 193px, 436px 306px);
        /*Firefox*/
        clip-path: url("#clipPolygon2");
    }
    .contact-title {
        text-align: center;
        width: 300px;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translateX(-50%);
        color: #fafafa;
        font-family: 'Kaushan Script', cursive;
        font-size: 48px;
    }
    .contact-btn {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
        color: #fafafa;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        background: #333;
        padding: 14px 22px;
        border-radius: 100px;
    }
    .social {
        text-align: center;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }
    .social a {
        width: 25%;
        height: 50px;
    }
    .copyright {
        text-align: center;
        z-index: 200;
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translateX(-50%);
        width: 225px;
        color: #fafafa;
        z-index: 2;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }
}


/* iPhone 6  */

@media (max-width: 376px) {
    .scroll-down-btn {
        top: 485px;
    }
    #design-hero-text {
        width: 275px;
        height: auto;
        position: absolute;
        top: 30%;
        left: 51%;
        transform: translate(-50%, -50%);
    }
    #develop-hero-text {
        color: #fafafa;
        font-family: 'Source Code Pro', monospace;
        font-weight: 300;
        font-size: 60px;
        position: absolute;
        top: 45%;
        left: 51.5%;
        transform: translate(-50%, -50%);
    }
}


/* Galaxy S5 */

@media (height: 640px) {
    #design-hero-text {
        width: 275px;
        height: auto;
        position: absolute;
        top: 30%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    #develop-hero-text {
        color: #fafafa;
        font-family: 'Source Code Pro', monospace;
        font-weight: 300;
        font-size: 60px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
     /* Content Area */
     .content-area {
        width: 320;
        position: absolute;
        top: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        padding: 0 40px;
        font-weight: 300;
    }
    .content-area h5 {
        font-size: 16px;
        font-weight: 400;
        margin: 10px 0 25px 0;
    }
    .content-area p {
        color: #555;
    }
    .design-content img {
        margin-top: 25px;
    }
    h5.design-content-title {
        font-family: 'Kaushan Script', cursive;
        font-size: 18px;
    }
    .develop-content img {
        margin-top: 40px;
    }
}


/* iPhone 5 */

@media (max-width: 320px) {
    .scroll-down-btn {
        top: 495px;
    }
    #design-hero-text {
        width: 250px;
        height: auto;
        position: absolute;
        top: 35%;
        left: 43%;
        transform: translate(-50%, -50%);
    }
    #develop-hero-text {
        color: #fafafa;
        font-family: 'Source Code Pro', monospace;
        font-weight: 300;
        font-size: 55px;
        position: absolute;
        top: 50%;
        left: 44.5%;
        transform: translate(-50%, -50%);
    }
    /* Content Area */
    .content-area {
        width: 320;
        position: absolute;
        top: 105%;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        padding: 0 40px;
        font-weight: 300;
    }
    .content-area h5 {
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 10px 0;
    }
    .content-area p {
        color: #555;
    }
    .design-content img {
        margin-top: 25px;
    }
    h5.design-content-title {
        font-family: 'Kaushan Script', cursive;
        font-size: 18px;
    }
    .develop-content img {
        margin-top: 20px;
    }
}